html {
    scroll-behavior: smooth;
    font-size: 18px;
}

a,
button,
input {
    outline: none;
}

button {
    display: block;
    cursor: pointer;
    border: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

input {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}