@use "../utils/variables";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: calc(14 / 12);
  color: variables.getColor("black");
  letter-spacing: 0.04em;
}

a,
button,
input {
  outline: none;
}

button {
  display: block;
  cursor: pointer;
  border: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
