@use "../../utils/variables";

.section {
  width: 100vw;
  height: 100vh;
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.background {
  width: 100vw;
  height: 100vh;
  padding: 0;
  position: absolute;
  background: variables.getColor("white-secondary");
  z-index: -1;
}

.title {
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 0;
  text-align: center;
}

.subtitle {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center;
  color: variables.getColor("text-secondary");
}

@media (min-width: 768px) {
  .title {
    font-size: 102px;
  }

  .subtitle {
    font-size: 16px;
    letter-spacing: 0.18em;
  }
  .background {
    height: 50vh;
    padding: 0;
    border-radius: 0px 15px 0px 15px;
  }
  .background::before {
    content: "";
    background: url(/public/icon_many.png) no-repeat center/cover;
    position: absolute;
    width: 100vw;
    min-height: 250px;
    top: 10%;
    filter: grayscale(100%) brightness(0.9);
    opacity: 0.56;
  }
  .background:after {
    content: "";
    background: url(/public/icon.png) no-repeat center/cover;
    position: absolute;
    min-width: 255px;
    min-height: 200px;
    filter: grayscale(100%) brightness(0.8);
    top: 100%;
    opacity: 0.56;
    left: 5%;
  }
}

@media (min-width: 1280px) {
  .section {
    padding: 0 110px 0 230px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
  }

  .titleContainer {
    flex: 0 1 385px;
  }
  .background {
    height: 80vh;
    left: 0%;
    border-radius: 0px 15px 0px 15px;
  }
  .background::before {
    content: "";
    background: url(/public/icon_many.png) no-repeat center/cover;
    position: absolute;
    min-width: 100vw;
    min-height: 359px;
    top: 10%;
    filter: grayscale(100%) brightness(0.6);
  }
  .background:after {
    content: "";
    background: url(/public/icon.png) no-repeat center/cover;
    position: absolute;
    min-width: 255px;
    min-height: 200px;
    filter: grayscale(100%) brightness(0.8);
    top: 100%;
    left: 5%;
  }
}
